
/* CSS Reset*/
body,ul,h1,li{ margin:0; padding:0}

html {
 box-sizing: border-box;
}

*, *:before, *:after {
 box-sizing: inherit;
}

ol, ul {
 list-style: none;
}

img{ border:none;}
/* ---------------------------------------------- */

/* Generl element and classes */
body
{
    direction: rtl;
    text-align: right;
    font-family: arial;
}

/*clearfix*/
.row::after{
  content:"";
  clear:both;
  display: table;
}
/* ---------------------------------------------- */