/* CSS Reset*/

body,
ul,
h1,
li,
P {
    margin: 0;
    padding: 0
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ol,
ul {
    list-style: none;
}

img {
    border: none;
}

ul>li>a {
    color: inherit;
    text-decoration: none;
}


/* ---------------------------------------------- */


/* Generl element and classes */

body {
    direction: rtl;
    text-align: right;
    font-family: 'Arial (Hebrew)', Arial;
    margin-bottom: 52px;
}


/*clearfix*/

.row::after {
    content: "";
    clear: both;
    display: table;
}


/*
div {
    border: 1px solid black;
}*/


/* ---------------------------------------------- */

header {
    background: url('images/header_bg.png') repeat-x;
    height: 125px;
    width: 100%;
    text-align: center;
}

header>.group {
    display: inline-block;
}

header .search-bar {
    float: left;
    clear: right;
    margin-top: 17px;
}

header .search-bar a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 12px;
    float: right;
    margin-top: 3px;
    margin-left: 6px;
}

header .search-bar form {
    display: inline-block;
    padding-right: 10px;
}

header .search-bar form>input[type='text'] {
    border-radius: 0px 10px 0px 0px;
    float: right;
    height: 19px;
    border: none;
    text-indent: 5px;
}

header .search-bar form>button[type='submit'] {
    background: url(images/search_button.png) no-repeat;
    height: 19px;
    width: 19px;
    border: none;
    float: right;
    margin-right: 1px;
    cursor: pointer;
}

header .logo {
    /* position: absolute;
  top:30px;
  right: 10%;   not finished*/
    float: right;
    margin-top: 25px;
}


/*navgation*/

header>.group>nav {
    float: left;
    clear: left;
    max-width: 732px;
}

header>.group>nav>ul {
    margin-top: 25px;
    height: 33px;
}

header>.group>nav>ul>li {
    display: inline-block;
    height: 20px;
    color: white;
    cursor: pointer;
}

header>.group>nav>ul>li>a:hover {
    color: blue;
}

header>.group>nav>ul>li::after {
    content: "|";
    color: silver;
}

header>.group>nav>ul>li:last-child::after {
    content: "";
}

header>.group>nav>ul>li a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: bold;
}

header>.group>nav>ul>li a:hover {
    color: #005ca0;
    text-decoration: underline;
}

header>.group>nav>ul>li>a.home {
    display: inline-block;
    width: 17px;
    height: 20px;
    background: url(images/menu_home.png) no-repeat;
    background-position-x: -17px;
    background-position-y: 5px;
    padding: 0;
    margin-left: 7px;
    margin-right: 7px;
}

header>.group>nav>ul>li>a.home:hover {
    background-position-x: 0px;
}


/*---------------------------*/

footer {
    background: url('images/footer_bg.png') repeat-x;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer>nav {
    display: inline-block;
}

footer>nav>ul {
    margin-top: 10px;
}

footer>nav>ul>li {
    display: inline-block;
    height: 20px;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

footer>nav>ul>li>a:hover {
    color: #005ca0;
    text-decoration: underline;
}

footer>nav>ul>li::after {
    content: "|";
}

footer>nav>ul>li:last-child::after {
    content: "";
}

footer>nav>ul>li a {
    padding-left: 7px;
    padding-right: 3px;
}

footer>nav>ul>li a.fb {
    background: url(images/fb_icon.png) no-repeat;
    width: 19px;
    display: inline-block;
    height: 18px;
    /* margin-top: 0px; */
    /* padding-top: 10px; */
    transform: translate(0px, 3px);
}


/*main content */


/*<main>
            <div>
                <div class="row">
                    <div class="column">שורה 1 עמודה 1</div>
                    <div class="column">שורה 1 עמודה 2</div>
                    <div class="column">שורה 1 עמודה 3</div>                    
                </div>
                <div class="row" */

main {
    text-align: center;
}

main>div {
    display: inline-block;
    /* margin: auto;
    max-width: 650px;*/
}

main>div>div.row>div.column {
    float: right;
    width: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
}


/* first row  */

main>div>div.row:first-child>div.column {
    width: 291px;
    height: 354px;
    border-radius: 0px 0px 15px 0px;
    position: relative;
}

main>div>div.row:first-child>div.column>article {
    color: white;
    width: 250px;
    height: 105px;
    background: url(images/hp_tab_text_bg.png) no-repeat;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    padding: 5px 15px 0px 0px;
    right: 3px;
}

main>div>div.row:first-child>div.column>article>h1 {
    font-size: 14px;
    text-align: right;
}

main>div>div.row:first-child>div.column>article>p {
    padding-top: 3px;
    height: 57px;
    width: 212px;
    text-align: right;
}

main>div>div.row:first-child>div.column>article>a {   
    display: block;
    width: 67px;   
    float: left;
    margin-left: 9px;
}

div.read-more>div.column>article>a,
article.read-more >a,
a.read-more {
    text-decoration: underline;
    background: url(images/read_more_white.png) no-repeat;
    /* background-position: left bottom; */    
    background-position-y: 4px;
    color: white;
    font-size: 13px;
}

div.read-more>div.column>article>a:hover,
article.read-more >a:hover,
a.read-more:hover {
    background: url(images/read_more_blue.png) no-repeat;
    background-position-y: 4px;
    color: #005ca0;
}


main>div>div.row:first-child>div.column:first-child {
    background: url('images/1908364606615453350.JPG') no-repeat;
}

main>div>div.row:first-child>div.column:nth-child(2) {
    background: url('images/Picture-046410251500.jpg') no-repeat;
}

main>div>div.row:first-child>div.column:last-child {
    background: url('images/פזקר_-291_354410564000.jpg') no-repeat;
}


/* second row */

main>div>div.row:last-child {
    margin-top: 10px;
}

main>div>div.row:last-child>div.column {
    width: 293px;
    height: 216px;
    border-radius: 0px 15px 0px 0px;
}

main>div>div.row:last-child>div.column>aside {
    background: url(images/small_cube_bg.png) no-repeat;
    height: 100%;
    position: relative;
}

main>div>div.row:last-child>div.column>aside>h1 {
    color: #575757;
    font-size: 14px;
    text-align: right;
    text-indent: 18px;
    padding-top: 9px;
}

main>div>div.row:last-child>div.column>aside>img {
    height: 111px;
    width: 251px;
    margin-top: 23px;
}

main>div>div.row:last-child>div.column>aside>a {
    width: 119px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

main>div>div.row:last-child>div.column:first-child>aside>img {
    background: url('images/paz_250x110059890678.jpg') no-repeat;
}

main>div>div.row:last-child>div.column:nth-child(2)>aside>img {
    background: url('images/paz_250x110103131473.jpg') no-repeat;
}

main>div>div.row:last-child>div.column:nth-child(3)>aside>div {
    padding-top: 12px;
    padding-right: 20px;
}

main>div>div.row:last-child>div.column:nth-child(3)>aside>div>ul {
    width: 74px;
    float: right;
    height: 81px;
    margin-top: 10px;
}


/* third colomn in second row with the map image */

main>div>div.row:last-child>div.column:nth-child(3)>aside>div>ul>li {
    height: 24px;
}

ul.details>li>a,
a.details {
    text-decoration: underline;
    background: url(images/read_more_yellow.png) no-repeat;
    /* background-position: left bottom; */
    width: 55px;
    display: inline-block;
    background-position-y: 4px;
    color: #72716d;
    font-size: 13px;
}

ul.details>li>a:hover,
a.details:hover {
    background: url(images/read_more_blue.png) no-repeat;
    background-position-y: 4px;
    color: #005ca0;
}

main>div>div.row:last-child>div.column:nth-child(3)>aside>div>ul>li>a {
    width: 55px;
}

main>div>div.row:last-child>div.column:nth-child(3)>aside>div>img {
    width: 82px;
    height: 167px;
    float: left;
    margin-left: 18px;
    background: url('images/Untitled-3058756287.jpg') no-repeat;
}